:root {

  --knifeWidth: 0.25;
  --knifeHeight: 1;
  --mapContainerFr: calc( 9 / 12 )

}

#dragon {

  display: none;
  width: 50%;
  height: 50%;
  background: crimson;
  position: fixed;
  top: 0;
  left: 50%;

}

* {

  font-family: papyrus;

}

body {

  margin: 0;

}

#mapContainer {
  
  background: url( "../img/tableBackground2.jpg" );
  /* rotate: -15deg; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

}

#map {

  width: 100%;

}

#scroller {

  display: block;
  width: 100%;

}

#knifeContainer {

  display: none;

}

.grid {

  display: grid;

}

#infoBox {

  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;

}

#header * {

  text-align: center;

}

#info {

  display: none;
  height: 100%;
  gap: 0 20pt;

}

#info p {

  margin: 0;
  text-align: justify;

}

#regionImg {

  grid-area: b;
  display: flex;
  justify-content: center;
  align-items: center;

}

#regionImg img {

  grid-area: c;
  max-width: 100%;
  max-height: 100%;

}

@media only screen and ( min-width: 800px ) {
  
  #infoBox {

    width: calc( 80% - 20vw );
    height: calc( 80% - 20vh );
    background-size: 80vw 80vh;
    background-image: url( "../img/scroll1.png" );
    padding: 10vh 10vw;
    top: 10%;
    left: 10%;

  }

  #header h1 {

    font-size: 46pt;
  
  }

  #header p {

    font-size: 20pt;
  
  }

  #info {

    grid:
      "a b" max-content
      "c b" 1fr
      / 1fr 1fr
    ;
  
  }

  #info h1 {

    font-size: 20pt;
  
  }

  #info p {

    font-size: 18pt;
  
  }

}

@media only screen and ( max-width: 800px ) {
  
  #infoBox {

    width: calc( 100% - 30vw );
    height: calc( 90% - 12.5vh );
    background-size: 100vw 80vh;
    background-image: url( "../img/scroll2.png" );
    padding: 12.5vh 15vw 0;
    top: 5%;
    left: 0%;

  }

  #header h1 {
    
    margin-bottom: 0;
    font-size: 32pt;
  
  }

  #header p {

    font-size: 16pt;
  
  }

  #info {

    grid:
      "a" max-content
      "b" max-content
      "c" max-content
      / 1fr
    ;
  
  }

  #info h1 {

    margin-bottom: 0.5em;
    text-align: center;
    font-size: 12pt;
  
  }

  #info p {

    font-size: 12pt;
  
  }

}
